.cal-controll{
  width: 100%;
  margin-top: 15%;
}
.cal-top{
  border: 2px solid #ddd;
  padding:12px;
}
.cal-top{
  width: 100%;
  max-width: 240px;
  margin: auto;
}
.cal-header input{
  width: 220px;
  height: 20px;
  padding: 6px;
  font-size: 18px;
  border: 2px solid #ddd;
  text-align: right;
}
button{
  width: 50px;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  padding: 4px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.col-2{
  width: 110px;
}